include ../mixins/sub-menu

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/logo.png", alt="Logo")
    
      .col-9
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              - const pathProduct = '/products'
              a(href=pathProduct) Sản phẩm
                +sub-menu(layoutProductsCategory, pathProduct)