extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(3000)

  h1 Trang tổng quan

  div #{user}
  div -------------
  div #{role.title}
  div #{role.permissions}